
$txt-color1: #ddd;
$grad-dark-color: rgb(10, 5, 10);
$grad-light-color: rgb(250, 250, 250);

$color-primary-light:#1f4037;
$color-primary-dark: #99f2c8;

$color-secondary-light: #2C5364; //#7ed56f;
$color-secondary-dark: #203A43;//#28b485;

$color-tertiary-light: #3E5151; //#2998ff;
$color-tertiary-dark:#DECBA4; //#5643fa;

$color-btn-text:#5b6d87;
$background-color:#f7f7f7;

$gutter-horizontal: 6rem;

//FONTS
$default-font-size: 1.6rem;
