
.header {
    padding: 30px;
    height: 80vh;
    background-image: linear-gradient(to right bottom, rgba(10, 5, 10, 0.95), rgba(250, 250, 250, 0.05)), url(../img/dims.jpg);
    background-size: cover;
    background-position: center;
    position: relative; 

    @supports(-webkit-clip-path: polygon(0 0)) 
             or (clip-path: polygon(0 0)){

              -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
              clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
              height: 95vh;
             }


    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           (-webkit-min-device-pixle-ratio: 2)and (min-width: 37.5em),
           (min-width: 125em){
            background-image: linear-gradient(to right bottom, rgba(10, 5, 10, 0.95), rgba(250, 250, 250, 0.05)), url(../img/dims.jpg);//The big version of dims.jpg
           }

    @include respond(phone){
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0% 100%);
    }

  }

  .Logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
  }
  
