.feature-box{
    padding: 2.5rem;
    background-color: rgba($txt-color1,.55);
    border-radius: 3px;
    border: 1px solid $txt-color1;
    box-shadow: 0 1.5rem 4rem rgba($grad-dark-color, .15);
    transition: transform .3s;

    @include respond(tab-port){
       padding: 2rem;
    }


    &__img{
        width: 100%;
    }

    &:hover{
        transform: scale(1.1) translateY(-1.5rem);

    }
}